.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  transition: transform 500ms ease;
}
img:hover {
    transform: scale(1.1);
}

a {
  color: #CD2828;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #5F0000;
}

a:active {
  color: black;
}

@media screen and (max-width: 600px) {
  .link-span {
    display: none;
  }
  .p-desc {
    font-size: 0.9em;
  }
  .sort-btn {
    font-size: 1vw;
  }
}
